[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = [
  "php83",
  "php83Packages.composer",
]

[workflows]
runButton = "Run Laravel"

[[workflows.workflow]]
name = "Run Laravel"
author = 38311320
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php artisan serve --host=0.0.0.0 --port=5000"
